/*

 Color Palette:

 #2E5266
 #6E8898
 #9FB1BC
 #D3D0CB
 #E2C044

*/

body, h1, h2, div {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, li, table {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background: #9FB1BC;
}
#container {
    background: #9FB1BC;
    height: 100%
}
#home_link {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#home_link a {
    color: #324866;
}
#menu {
    height: 3em;
    margin: 0;
    padding: 0;
}
#menu ul {
    text-align: right;
    horiz-align: right;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
}
#menu ul li {
    margin: 0;
    display: inline;
    padding-left: 1em;
}
#menu ul li a {
    color: #324866;
}
#top {
    background: #2F3D55;
    margin: 0;
    padding: 0;
}
#bottom {
    background: #9FB1BC;
    margin: 0;
    padding: 0;
}
#bottom_wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bar {
    background: #eee;
    height: 0.3em;
}

#top h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0em;
    color: #eee;
}
#top h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    color: #9FB1BC;
}

@media only screen and (max-width: 600px) {
    /* For small: */
    #top {
        height: 10em;
    }
    #top h1 {
        font-size: 3.5em;
    }
    #top h2 {
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    #top {
        height: 14em;
    }
    #top h1 {
        font-size: 5.2em;
    }
    #top h2 {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1024px) {
    /* for desktops */
    #top {
        height: 20em;
    }
    #top h1 {
        font-size: 9em;
    }
    #top h2 {
        font-size: 1.5em;
    }
}
